### GOOGLE CLOUD STORAGE DB ###
# Where to look for the credentials within the container
GOOGLE_APPLICATION_CREDENTIALS=/tmp/keys/application_default_credentials.json
GOOGLE_CLOUD_PROJECT=acneaidapi-417914
DB_INSTANCE_CONNECTION_NAME=acneaidapi-417914:europe-west4:acneaiddb
DB_USER=postgres
DB_PASSWORD=YouveNeverSeenSomethingMoreSecure1!
DB_NAME=main_db
### GOOGLE CLOUD OBJECT STORAGE###
BUCKET_NAME=progress_images
### AUTHENTICATION ###
FIREBASE_SERVICE_ACCOUNT_KEY_FILE=../tmp/keys/firebase_private_key.json
FIREBASE_CONFIG_FILE=/tmp/configs/firebase_config.json