### Supabase DB credentials ###
export DB_PASSWORD=""
export DB_URI="postgresql://postgres:$DB_PASSWORD@db.wthddiekkdzznwzsnjus.supabase.co:5432/postgres"


### Supabase client for object storage ###
export SUPABASE_URL="https://wthddiekkdzznwzsnjus.supabase.co"
export SUPABASE_KEY=""

### Authentication ###
export JWT_SECRET_KEY=""