# Description: Template for environment variables. Store as .env in root directory. Used by docker-compose.yaml
# In general issues transferring file between macOS and Windows git bash. Figure it out when needed

### SUPABASE DB CREDENTIALS ###
DB_PASSWORD=""
DB_URI="postgresql://postgres.ubcapjlvybwnzqbqauma:$DB_PASSWORD@aws-0-eu-central-1.pooler.supabase.com:5432/postgres"
### SUPABASE OBJECT STORAGE CREDENTIALS ###
SUPABASE_URL="https://ubcapjlvybwnzqbqauma.supabase.co"
SUPABASE_KEY=""
### AUTHENTICATION ###
JWT_SECRET_KEY=""
### SELF-SIGNED SSL CERTIFICATE ###
SSL_CERTFILE="ssl/ssl.crt"
SSL_KEYFILE="ssl/ssl.key"